<div class="container">
  <div class="row">
  <div class="col"></div>
  
  <div class="card card-align mt-5  bg-transparent">
  
  <div class="card-header bg-light ">SIGNUP</div>
  <div class="card-body">
  <form #registerForm = "ngForm">
  <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Enter Username" [(ngModel)]="username" name="username" required/>
    </div>
    <div class="form-row">
    <div class="col">
      <label for="pwd">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" [(ngModel)]="password" name="password" required/>
    </div>
    </div>
     <div class="form-group">
      <label for="">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter Email" [(ngModel)]="email" name="email" required/>
    </div>
    <div class="form-group">
      <label for="">Mobile Number</label>
      <input type="tel" class="form-control" id="Mobile Number" placeholder="Enter Mobile Number" name="mobile number" [(ngModel)]="mobile" pattern="^\d{10}$" required/>
    </div>
    <button type="button" class="btn btn-primary" (click)="addBuyer()"  >Register</button>&nbsp;
    <label>Already have an account?</label>
    <a href="/login">Login</a>
    </form>
    </div>
    </div>
    
    <div class="col"></div>
    </div>
    </div>