<div class="container">
    <h3>Details of Item</h3>
    <div class="row border">
        <div class="col-6 ">
            <div class="w-100 mx-2 my-2">
                <img class="card-img-top " 
                    [src]="item?.image"
                    [alt]="item?.name"/>
            </div>
        </div>
        <div class="col-6">
            <div class="w-100 mx-2 my-2">
                <h2>Item Name: {{item?.name}}</h2>
                <h4> Item Price:{{item?.price}}</h4>
                <h4>Description: {{ item?.description }}</h4>
                <h5>Stock: {{ item?.stock }}</h5>
                <h5>Category: {{ item?.subCategory.category.name }}</h5>
                <h6>Sub-category: {{ item?.subCategory.name }}</h6>
                <h6>GST%: {{ item?.subCategory.gst }}</h6>
                <button 
                        type="button" class="btn btn-warning"
                         (click)="addToCart(item)">Add To Cart</button>
            </div>
        </div>
    </div>
</div>

